Aaron Sethman <androsyn@ratbox.org> androsyn <devnull@localhost>
Alexander Færøy <ahf@0x90.dk> Alexander F?r?y <ahf@0x90.dk>
Ariadne Conill <ariadne@dereferenced.org> <nenolod@atheme.org>
Ariadne Conill <ariadne@dereferenced.org> <nenolod@dereferenced.org>
Ariadne Conill <ariadne@dereferenced.org> nenolod <devnull@localhost>
Brett Greenham <taros@shadowircd.net> B.Greenham <taros@shadowircd.net>
Chris Mills <chris@chrisam.net> TheChrisAM <chris@chrisam.net>
Chris Mills <chris@chrisam.net> freenode!ChrisAM <chris@chrisam.net>
Elizabeth Myers <elizabeth@interlinked.me> <elizabeth@sporksirc.net>
Elizabeth Myers <elizabeth@interlinked.me> <elizabeth@sporksmoo.net>
Elizabeth Myers <elizabeth@interlinked.me> <spaz@whotookspaz.org>
Elly Fong-Jones <elly@leptoquark.net> Elly <elly@leptoquark.net>
Jilles Tjoelker <jilles@stack.nl> jilles <devnull@localhost>
Nathan Phillip Brink <binki@gentoo.org> <ohnobinki@ohnopublishing.net>
Stephen Bennett <spb@exherbo.org> <stephen@freenode.net>
Valeriy Yatsko <dwr@shadowircd.net> <darkwire.tl@gmail.com>
Valeriy Yatsko <dwr@shadowircd.net> <darkwire@darkwire.ru>
Valeriy Yatsko <dwr@shadowircd.net> <darkwire@ircd-charybdis.ru>
Valeriy Yatsko <dwr@shadowircd.net> <darkwire@sellcenter.ru>
Valeriy Yatsko <dwr@shadowircd.net> <dwr@it-penza.org>
Christine Dodrill <shadow.h511@gmail.com> <quora@lavabit.com>
Christine Dodrill <shadow.h511@gmail.com> <quorawings@gmail.com>
Aaron Jones <aaronmdjones@gmail.com> <me@aaronmdjones.net>
David Schultz <me@zpld.me> <ek311@outlook.com>
Doug Freed <dwfreed@mtu.edu> Douglas Freed <dwfreed@mtu.edu>
Eric Mertens <emertens@gmail.com> <emertens@galois.com>
Eric Mertens <emertens@gmail.com> <glguy@libera.chat>
Jess Porter <github@lolnerd.net> jesopo <github@lolnerd.net>
Jess Porter <github@lolnerd.net> jess <github@lolnerd.net>
Valeriy Yatsko <dwr@shadowircd.net> Valerii Iatsko <valerii.iatsko@icloud.com>
Valeriy Yatsko <dwr@shadowircd.net> Valerii Iatsko <dwr@codingbox.io>
Adam Hockley <adamhockley@macbookpro.home>
Antoine Beaupré <anarcat@debian.org> <anarcat@koumbit.org>
JailBird <jailbird@fdf.net> Jail Bird <jailbird@fdf.net>
JailBird <jailbird@fdf.net> jailbird777 <jailbird@fdf.net>
JailBird <jailbird@fdf.net> jailbird777 <jailbird777@users.noreply.github.com>
Simon Arlott <sa.me.uk> <70171+nomis@users.noreply.github.com>
Patrick Godschalk <patrick.godschalk@remixdepolitiek.nl> <argure@argure.nl>
Patrick Godschalk <patrick.godschalk@remixdepolitiek.nl> <argure@donttrustrobots.nl>
Xenthys <xenthys@blackfields.net> <Xenthys@users.noreply.github.com>
owen <owenbell@riseup.net> vulpine <owenbell@riseup.net>
