name: Oper Guide

on:
  push:
    branches:
      - main
    paths:
      - 'doc/oper-guide/**'
  pull_request:
    branches:
      - main
    paths:
      - 'doc/oper-guide/**'
  workflow_dispatch:
      
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@main
        with:
          persist-credentials: false
          submodules: recursive
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends \
            python3-sphinx \
            texinfo \
            automake \
            autoconf \
            libtool \
            # EOF
      - name: autogen.sh
        run: bash autogen.sh
      - name: configure
        run: ./configure
      - name: Build Oper Guide
        run: make -C doc/oper-guide html man info
